<?xml version="1.0"?>

<model>
  <name>AIGC2_tree_2</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Hanseob Lee</name>
    <email>hslee89@kaist.ac.kr</email>
  </author>

  <description>
    2020 AI Grand Challenge(AICG) Obstacle Tree
  </description>

</model>
